*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "宋体",sans-serif;
}
body{
    margin:0;
    padding: 0;
    width:100vw;
    height:100vh;
    overflow: hidden;
}
.page-title{
    position:absolute;
    top:20px;
    left:20px;
    font-family: '微软雅黑';
    font-size: 40px;
    color:#fff;
    z-index:10;
}
.navigator{
    position:absolute;
    top:25px;
    right:5px;
    margin:0 30px;
    z-index:10;
}
.navigator ul{
    display: flex;
    gap:45px;
    list-style: none;
}
.navigator ul a{
    font-size: 20px;
    color:#fff;
    cursor:pointer;
    text-decoration: none;
}
.navigator ul a.only-underline{
    font-size: 20px;
    color:white;
    cursor:pointer;
    font-family: '宋体';
    border-bottom: 2px solid #fff;
}
.main-box{
    transform: scale(1.25);
    transform-origin: top left;
    width:80%;
    height:80%;
}
.bg-img{
    width:125%;
    height:125%;
    margin:0;
    padding:0;
    filter: brightness(0.7);
}
.songs{
    position:absolute;
    top:20%;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
    font-size:22px;
    text-align: center;
    z-index:5;
}
.songs p{
    margin:1px 0;
    line-height: 1.6;
}
.click-btn a{
    position:absolute;
    top:53%;
    color:black;
    left:50%;
    transform: translateX(-50%);
    padding:10px 20px;
    background-color: #ff8a9a;
    border-radius: 20px;
    font-size:18px;
    cursor: pointer;
    z-index:5;
}
.arrow{
    position:absolute;
    top:50%;
    transform: translateX(-50%);
    padding:10px;
    margin:0 15px;
    width:50px;
    height:50px;
    background-color: transparent;
    border:1px solid white;
    color:white;
    font-size:24px;
    cursor: pointer;
    z-index:10;
}
.left-arrow{
    position:absolute;
    top:50%;
    left:38px;
}
.right-arrow{
    position:absolute;
    top:50%;
    right:-15px;
}
.arrow:hover{
    background-color: rgba(255,255,255,0.5);
}