*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "宋体",sans-serif;
}
body{
    margin:0;
    padding: 0;
    width:100vw;
    height:100vh;
    overflow: hidden;
}
.page-title{
    position:absolute;
    top:1.3vw;
    left:2vw;
    font-family: '微软雅黑';
    font-size:2.5vw;
    color:#fff;
    z-index:10;
}
.navigator{
    position:absolute;
    top:1.5vw;
    right:0.5vw;
    margin:0 3vw;
    z-index:10;
}
.navigator ul{
    display: flex;
    gap:3vw;
    list-style: none;
}
.navigator ul a{
    font-size: 1.2vw;
    color:#fff;
    cursor:pointer;
    text-decoration: none;
}
.navigator ul a.only-underline{
    font-size: 1.2vw;
    color:white;
    cursor:pointer;
    font-family: '宋体';
    border-bottom: 0.15vw solid #fff;
}
.main-box{
    transform: scale(1.25);
    transform-origin: top left;
    width:80%;
    height:90%;
}
.bg-img{
    width:125%;
    height:125%;
    margin:0;
    padding:0;
    filter: brightness(0.7);
}
.songs{
    position:absolute;
    top:20%;
    left:50%;
    transform:translateX(-50%);
    color:#fff;
    font-size:1.4vw;
    text-align: center;
    z-index:5;
}
.songs p{
    margin:0.1vw 0;
    line-height: 1.6;
}
.click-btn a{
    position:absolute;
    top:51.5%;
    color:black;
    left:50%;
    transform: translateX(-50%);
    padding:0.6vw 1.2vw;
    background-color: #ff8a9a;
    border-radius: 2vw;
    font-size:1.2vw;
    cursor: pointer;
    z-index:5;
}
.arrow{
    position:absolute;
    top:50%;
    transform: translateX(-50%);
    padding:0.5vw;
    margin:0 1.5vw;
    width:4vw;
    height:4vw;
    background-color: transparent;
    border:0.1vw solid white;
    color:white;
    font-size:1.6vw;
    cursor: pointer;
    z-index:10;
}
.left-arrow{
    position:absolute;
    top:50%;
    left:3.0vw;
}
.right-arrow{
    position:absolute;
    top:50%;
    right:-1.2vw;
}
.arrow:hover{
    background-color: rgba(255,255,255,0.5);
}