*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "宋体",sans-serif;
}
body{
    height: 100vh;
    overflow: hidden;
    background: 
    url("微信图片_20251116113002_57_1.jpg")
    top
    /100% 10vh
    no-repeat,
    #ffffff;
}
.about-page{
    width: 100%;
    height:100%;
    margin:0 auto;
    padding: -0.5vw 0;
    text-align: center;
}
.title-section{
    margin-top: 11vw;
}
.main-title{
    font-family: '微软雅黑';
    font-size:2.3vw;
    font-weight:bold;
    color: black;
    margin-top: -3vw;
    margin-bottom: 1vw;
}
.title-line{
    width:6vw;
    height: 0.2vw;
    background-color: #ff8a9a;
    margin:1vw auto 0;
}
.navigator{
    position:absolute;
    top:1.5vw;
    right:0.5vw;
    margin:0 0.3vw;
    z-index:10;
    font-family: '宋体';
}
.navigator ul{
    display: flex;
    gap:3vw;
    list-style: none;
}
.navigator ul a{
    font-size: 1.2vw;
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.navigator ul a.only-underline{
    font-size: 1.2vw;
    color:white;
    cursor:pointer;
    font-family: '宋体';
    border-bottom: 2px solid #fff;
}
.desc-text{
    font-family: '宋体';
    font-size:1.4vw;
    color:black;
    line-height: 0.31;
    margin-top:1.4vw;
}
 .timeline-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
 }
 .item{
    width:calc(28% -20px);
    padding:1.1vw 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:0.14vw solid #e0e0e0;
    border-bottom: 0.3vw solid #e0e0e0;
    margin: -2vw 3vw;
    border-radius: 0.8vw;
    transition: box-shadow 0.3s;
 }
 .year{
    font-size:1.2vw;
    font-weight: bold;
    margin-top: 1vw;
    margin-bottom: 0.8vw;
    color:black;
    font-family: '微软雅黑';
 }
 .content{
    font-family: '宋体';
    font-size:1.2vw;
    line-height: 2;
    font-weight: normal;
    color:#666;
 }
.bg-img{
    min-height:80vh;
    margin:0;
    padding:0;
    background-size: 80% 90%;
    filter: brightness(0.5);
}
.item-forever{
    margin-top: -16vw;
}
.timeline-photo{
    width:23vw;
    margin-top: 2.5vw;
}
.love{
    color:#ff8a9a;
}