*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "宋体",sans-serif;
}
body{
    height: 100vh;
    overflow: hidden;
    background: 
    url("微信图片_20251116113002_57_1.jpg")
    top
    /100% 10vh
    no-repeat,
    #ffffff;
}
.about-page{
    width: 100%;
    height:100%;
    margin:0 auto;
    padding: -5px 0;
    text-align: center;
}
.title-section{
    margin-top: 200px;
}
.main-title{
    font-family: '微软雅黑';
    font-size:35px;
    font-weight:bold;
    color: black;
    margin-top: -60px;
    margin-bottom: 20px;
}
.title-line{
    width:90px;
    height: 3px;
    background-color: #ff8a9a;
    margin:10px auto 0;
}
.navigator{
    position:absolute;
    top:15px;
    right:5px;
    margin:0 30px;
    z-index:10;
    font-family: '宋体';
}
.navigator ul{
    display: flex;
    gap:45px;
    list-style: none;
}
.navigator ul a{
    font-size: 20px;
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.navigator ul a.only-underline{
    font-size: 20px;
    color:white;
    cursor:pointer;
    font-family: '宋体';
    border-bottom: 2px solid #fff;
}
.desc-text{
    font-family: '宋体';
    font-size:22px;
    color:black;
    line-height: 0.31;
    margin-top:34px;
}
 .timeline-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
 }
 .item{
    width:calc(28% -20px);
    padding:50px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1.4px solid #e0e0e0;
    border-bottom: 1.3px solid #e0e0e0;
    margin: -20px 30px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
 }
 .year{
    font-size:18px;
    font-weight: bold;
    margin-top: -30px;
    margin-bottom: 8px;
    color:black;
    font-family: '微软雅黑';
 }
 .content{
    font-family: '宋体';
    font-size:20px;
    line-height: 2;
    font-weight: normal;
    color:#666;
 }
.bulb-icon{
    color:#ff3333;
    font-size:20px;
    margin-right:8px;
}
.bg-img{
    min-height:80vh;
    margin:0;
    padding:0;
    background-size: 80% 90%;
    filter: brightness(0.5);
}
.item-forever{
    margin-top: 30px;
}
.timeline-photo{
    width:380px;
    margin-top: 50px;
}
.love{
    color:#ff8a9a;
}