*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "宋体",sans-serif;
}
body{
    margin:0;
    padding: 0;
    width:100vw;
    height:100%;
    overflow: hidden;
}
.page-title{
    position:absolute;
    top:1.3vw;
    left:2vw;
    font-family: '微软雅黑';
    font-size: 2.5vw;
    color:#fff;
    z-index:10;
}
.navigator{
    position:absolute;
    top:1.5vw;
    right:0.5vw;
    margin:0 3vw;
    z-index:10;
}
.navigator ul{
    display: flex;
    gap:3vw;
    list-style: none;
}
.navigator ul a{
    font-size: 1.2vw;
    color:#fff;
    cursor:pointer;
    text-decoration: none;
}
.navigator ul a.only-underline{
    font-size: 1.2vw;
    color:white;
    cursor:pointer;
    font-family: '宋体';
    border-bottom: 2px solid #fff;
}
.main-box{
    transform: scale(1.25);
    transform-origin: top left;
    width:80%;
    height:90%;
}
.bg-img{
    min-height:80vh;
    margin:0;
    padding:0;
    background-size: 80% 90%;
    filter: brightness(0.5);
}
.words{
    position:absolute;
    top:14%;
    left:50%;
    line-height: 1.5;
    transform:translateX(-50%);
    color:white;
    font-size:1.4vw;
    text-align: center;
    z-index:5;
}
.words p{
    margin:0.1vw 0;
}
.click-btn{
    position:absolute;
    top:45%;
    left:50%;
    transform: translateX(-50%);
    padding:0.6vw 1.2vw;
    background-color: #ff8a9a;
    border-radius: 2vw;
    font-size:1.2vw;
    cursor: pointer;
    z-index:5;
}
