*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "微软雅黑",sans-serif;
}
body{
    height: 100vh;
    /*overflow: hidden;*/
    background: 
    url("微信图片_20251116113002_57_1.jpg")
    top
    /100% 10vh
    no-repeat,
    #ffffff;
}
.about-page{
    width: 100%;
    height:100%;
    margin:0 auto;
    padding: -0.5vw 0;
    text-align: center;
}
.title-section{
    margin-top: 11vw;
}
.main-title{
    font-family: '微软雅黑';
    font-size:2.3vw;
    font-weight:bold;
    color: black;
    margin-top: -4vw;
    margin-bottom: 1vw;
}
.title-line{
    width:6vw;
    height: 0.2vw;
    background-color: #ff8a9a;
    margin:1vw auto 0;
}
.navigator{
    position:absolute;
    top:1.5vw;
    right:0.5vw;
    margin:0 3vw;
    z-index:10;
}
.navigator ul{
    display: flex;
    gap:3vw;
    list-style: none;
}
.navigator  ul a{
    font-family: '宋体';
    font-size: 1.2vw;
    color:white;
    cursor:pointer;
    text-decoration: none;
}
.navigator ul a.only-underline{
    font-size: 1.2vw;
    color:white;
    cursor:pointer;
    font-family: '宋体';
    border-bottom: 2px solid #fff;
}
.desc-text{
    font-family: '宋体';
    font-size:1.4vw;
    color:black;
    line-height: 0.3;
    margin-top:1.4vw;
}
.bg-img{
    min-height:80vh;
    margin:0;
    padding:0;
    background-size: 80% 90%;
    filter: brightness(0.5);
}
.card-container{
    display: flex;
    gap:6.5rem;
    padding:0 2rem 2rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.card{
    width:23vw;
    margin:0 1rem;
    background-color: #ffffff;
    border-radius: 0.7vw;
    box-shadow: 0 0vw 0.1vw rgba(0, 0, 0, 0.1);
    overflow:hidden;
}
.card-img{
    width:100%;
    height:12vw;
    object-fit: contain;
    height:auto;
}
.card-card-title{
    padding:0 1rem;
    font-size: 1.1rem;
    margin:0.5rem 0;
    color:#333;
}
.card .card-content{
    padding:0 1rem 1rem;
    color:#666;
    line-height:1.5;
}
.card p{
    font-family: "宋体";
    line-height: 1.5;
    font-size:1.1vw;
    color: #666;
    font-weight:500
}